---
layout: default
---
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
    {% if page.author or site.author.name %} · <span>{{ page.author | default: site.author.name }}</span>{% endif %}
  </div>
  <div class="post-content">
    {{ content }}
  </div>
  {% if page.tags %}
  <div class="post-tags">
    <span>标签：</span>
    {% for tag in page.tags %}
      <a href="{{ '/tags/#' | relative_url }}{{ tag | uri_escape }}" class="tag">#{{ tag }}</a>
    {% endfor %}
  </div>
  {% endif %}
  <hr/>
  <div class="post-nav">
    {% if page.previous.url %}
      <a class="prev" href="{{ page.previous.url | relative_url }}">&larr; {{ page.previous.title }}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{ page.next.url | relative_url }}">{{ page.next.title }} &rarr;</a>
    {% endif %}
  </div>
</article>
